* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #181818;
}

html {
  scroll-behavior: smooth;
}

/* HEADER Y NAVBAR */

.section_container {
  background-color: #181818;
  max-width: 1300px;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#logo {
  height: 60px;
}

.header_container {
  position: sticky;
  top: 0%;
  z-index: 2;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1300px;
}

#toggle-menu_icon{
  color: #fafafa;
  display: none;
}

.navbar #toggle-menu {
  display: none;
}

.navbar_list {
  display: flex;
  gap: 50px;
}

#home{
  display: flex;
}


ul i {
  font-size: 20px;
  color: #ffa400;
  padding-right: 10px;
}

a {
  color: blanchedalmond;
}

/* CART */
.cart-menu {
  position: fixed;
  top: 0;
	min-width: 453px;
	min-height: 557px;
  max-height: 95%;
  right: 0;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  gap: 40px;
	padding: 30px;
  border-bottom-left-radius: 10px;
  border-right: none;
  transition: 0.3s;
	z-index: 999;
  overflow-y: scroll;
}

.cart-menu h3 {
	color: #fafafa;
}

.item-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap:5px;
  
}


.item-description{
  
}

.cart-item {
  width: 100%;
  background-color: #252424;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 5px 50px black;
	color: #fafafa;
}

.close-cart {
	width: 30px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
  background: linear-gradient(45deg, #ffa100, #fb103d);
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s;
}

.close-cart:hover {
	background: transparent;
	border: 3px solid #ffa100;
	color: #ffa100;
}

.cart-item img {
	width: 62px;
  height: 62px;
}

.item-price {
	font-weight: 900;
	font-size: 20px;
  background: linear-gradient(45deg, #ffa100, #fb103d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.subtotal {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #fafafa;
}

.subtotal-container {
	display: flex;
	justify-content: space-between;
}

.envio-container {
	display: flex;
	justify-content: space-between;
}

.products-cart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.btn-container button {
	width: 70%;
	border-radius: 10px;
	border: none;
}

.btn-buy {
  background: linear-gradient(45deg, #ffa100, #fb103d);
	font-size: 17px;
	font-weight: 600;
	color: #fafafa;
	height: 40px;
	cursor: pointer;
	transition: 0.3s;
}

.btn-buy:hover {
	background: transparent;
	border: 3px solid #ffa100;
	color: #ffa100;
}

.btn-seeMore {
	background: transparent;
	color: gray;
	font-size: 16px;
	height: 25px;
	cursor: pointer;
}

.disable {
	background: gray;
}

.disable:hover {
	background: gray;
	border: none;
	color: #fafafa;
}

.total-container {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	border-top: 1px solid white;
	color: #fafafa;
}

.contador {
	position: absolute;
	top: -19px;
	right: 5px;
	color: white;
	background-color: red;
	border-radius: 50%;
	font-size: 15px;
	font-weight: 500;
	padding: 5px;
}

.active-contador {
	display: none;
}

.bot-container {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.item-handler{
	display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.quantity-handler {
	font-weight: 600;
  font-size: 20px;
  width: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
	align-items: center;
  cursor: pointer;
}

.item-quantity {
	font-weight: 600;
}

.down {
  background: linear-gradient(45deg, #ffa100, #fb103d);
}

.up {
  background: linear-gradient(45deg, #ffa100, #fb103d);

}

.toggle-cart {
	right: -200%;
}

.overlay {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 5000px;
  position: absolute;
  z-index: 3;
}

.show-overlay {
  display: none;
}

.carrito {
	cursor: pointer;
	position: relative;
}

.empty-p {
	color: gray;
	font-size: 20px;
}

/* HERO */

.hero_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

.hero-title p {
  font-size: 20px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fafafa;
  height: 80%;
}

.hero-title button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  margin-top: 20px;
  border-radius: 15px;
  background: linear-gradient(45deg, #ffa100, #fb103d);
  color: #fafafa;
  font-size: 15px;
  cursor: pointer;
}

.imagen_hero {
  position: absolute;
  top: 200px;
  width: 265px;
  height: 265px;
}

.imagen_hero_2 {
  position: relative;
  left: 130px;
  bottom: 15px;
}

/* Seccion de recomendaciones */

.recommendations {
  display: flex;
  flex-direction: column;
}

.recommendations_tittle {
  display: flex;
  justify-content: flex-start;
  width: 1100px;
  height: 100px;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.recommendations_tittle h2 {
  color: #ffffff;
  font-size: 20px;
}

.recommendations_container {
  /* grid-row: 2; */
  /* grid-column: 1 / span 4; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #ffffff;
  padding: 10px 0 50px 0;
}

.recommendations_card {
  width: 350px;
  background-color: #252424;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 50px black;
}

.recommendations_card img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.btn_add {
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 80px;
  background: linear-gradient(45deg, #ffa100, #fb103d);
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
	transition: 0.3s;
}

.btn_add:hover {
	background: transparent;
	border:3px solid  #ffa100;
	color: #ffa400; 

}

.price {
  font-size: 20px;
  font-weight: 900;
  background: linear-gradient(45deg, #ffa100, #fb103d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: #5a5a5a;
}

/* fin recomendaciones */

/* Productos */

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #181818;
  color: #ffffff;
}

.products h2 {
  font-size: 20px;
}

/* categorias */

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 60px;
}

.category {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: none;
  background-color: #252424;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 50px black;
  font-weight: 600;
}

.category img {
  width: 50px;
}

.category p {
  font-size: 30px;
  font-weight: 900;
  background: linear-gradient(45deg, #ffa100, #fb103d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  background-color: #4c4d4c;
}

/*  fin productos */

/*  populares*/

.products_container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #ffffff;
}

.titulo-pop {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  height: auto;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.products_container h2 {
  font-size: 20px;
  width: 190px;
}

.pop-1{
  display: flex;
  width: 100%;
  justify-content: center;
	align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.photo_container{
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.photo_container img{
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: center;

}

.card {
  padding: 2%;
  /* border: 1px solid #ffffff; */
  background-color: #252424;
  box-shadow: 5px 5px 50px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card span {
  color: #5a5a5a;
}

.precio-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pop-1 div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*  fin populares*/

.confirmation {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.confirmation h2 {
	font-size: 30px;
	color: #fafafa;
	letter-spacing: 2px;
}

.toggle-confirmation {
	bottom: -200%;
}

/*footer*/
footer {
  width: 100%;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: #ffffff;
}

.legal {
  width: 100%;
  display: flex;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  gap: 80px;
  justify-content: center;
}

.credito {
  width: 100%;
  height: 100px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.credito span {
  font-weight: bold;
}

/*fin footer*/

/*  MEDIAQUERIES  */

@media (max-width: 1150px) {
  .navbar_list{
    display: none;
  }

  .confirmation {
    height: 85px;
  }

  .home-disabled{
    display: none;
  }

  ul i {
    font-size: 60px;
  }

  .contador {
    padding: 10px;
    font-size: 30px;
    }

  

  .navbar_list-responsive {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 100px);
    gap: 100px;
    width: 100%;
    right: 0;
    z-index: 2;
    background-color: #181818;
  }


	.cart-menu {
	min-width: 50%;
	}

  .header {
    padding: 0px 50px 0px 10px;
  }

  #toggle-menu_icon {
    display: flex;
  }

  .logo_hero_container {
    display: none;
  }

  .hero-title {
    justify-content: center;
    gap: 10px;
  }

  .hero-title h1,
  h2,
  p {
    text-align: center;
  }

  #btn-ver_mas {
    align-self: center;
    width: 300px;
  }

  .recommendations_card {
    width: 75%;
    height: 100px;
    justify-content: center;
    padding: 10 30px;
  }

  .btn_add {
    width: 100px;
  }

  .recommendations_tittle {
    justify-content: center;
    width: 100%;
  }

  .recommendations_card div {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
  }
}

@media (max-width: 800px) {
  .recommendations_card {
    width: 100%;
    border-radius: 0px;
    height: 100px;
    
  }

  .cart-menu {
    height: 100%;
    width: 95%;
  }
}

@media (max-width: 620px) {
  #logo {
    height: 80px;
  }
  .hero_container {
    height: 90vh;
  }

  .recommendations_container .description {
    display: none;
  }

  .legal {
    flex-direction: column;
    height: 70%;
    text-align: center;
    justify-content: center;
  }

  
}

@media (max-width: 420px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    width: 100%;
    text-align: center;
  }

  #btn-ver_mas {
    width: 90%;
  }

  .recommendations_card {
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    gap: 5px;
  }

  .recommendations_card div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recommendations img {
    width: 100px;
    border-radius: 50%;
  }
}
