*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #181818;
}

html{
	scroll-behavior: smooth;
}

/* HEADER Y NAVBAR */

.section_container{
    background-color:#181818 ;
	max-width: 1300px;
	margin: 0 auto;
}


.logo_container{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo{
    height: 95px;
}

.header_container{
    position: sticky;
    top: 0%;
    z-index: 999999;
    width: 100%;
    }

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1300px;
    
}

#toggle-menu_icon{
    display: none;
    color: #fafafa;
}

.navbar #toggle-menu{
    display: none;
}


.navbar_list{
    display: flex;
    gap: 50px;

}

ul i{
    font-size: 20px;
    color: #ffa400;
    padding-right: 10px;
}

a{
    color: blanchedalmond;
}

/* HERO */

.hero_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	padding-top: 30px;
    
}

h1{
    font-size: 60px;
}

h2{
    font-size: 50px;
}


.hero-title p{
    font-size: 20px;
}

.hero-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fafafa;
    height: 80%;
}

.hero-title button{
    width: 200px;
    height: 50px;
	font-weight: 700;
	margin-top:20px ;
    border-radius: 15px;
    background:linear-gradient(45deg, #ffa100,#fb103d) ;
    color: #fafafa;
    font-size: 15px;
	cursor: pointer;
}

.imagen_hero{
    height: 400px;
}

/* Seccion de recomendaciones */



.recommendations {
	display: flex;
	flex-direction: column;
}


.recommendations_tittle{
	display: flex;
	justify-content: flex-start;
	width: 1100px;
	height: 100px;
	align-items: center;
	max-width: 1300px;
	margin: 0 auto;

}

.recommendations_tittle h2{
	color: #FFFFFF;
	font-size: 20px;
}

.recommendations_container {
	grid-row: 2;
	grid-column: 1 / span 4;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	color: #FFFFFF;
	padding: 10px 0 50px 0;
}

.recommendations_card {
	width: 350px;
	background-color: #252424;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	box-shadow: 5px 5px 50px black;
}

.recommendations_card img {
	width: 70px;
	border-radius: 20px;
}

.btn_add {
	border: none;
	border-radius: 20px;
	height: 30px;
	width: 80px;
  background:linear-gradient(45deg, #ffa100,#fb103d) ;
	color: #FFFFFF;
	font-weight: 600;
	cursor: pointer;
}

.price {
	font-size: 20px;
	font-weight: 900;
  background:linear-gradient(45deg, #ffa100,#fb103d) ;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.description {
	color: #5A5A5A;
}

/* fin recomendaciones */

/* Productos */

.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	background-color: #181818;
	color: #FFFFFF;
}

.products h2 {
	font-size: 20px;
}

/* categorias */

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	padding-bottom: 60px;
}

.category {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	border: none;
	background-color: #252424;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 5px 5px 50px black;
	font-weight: 600;
}

.category img{
	width: 50px;
}

.category p {
	font-size: 30px;
	font-weight: 900;
  background:linear-gradient(45deg, #ffa100,#fb103d) ;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.active {
	background-color: #4C4D4C;
}

/*  fin productos */


/*  MEDIAQUERIES  */


@media (max-width:1150px){

	.navbar_list{
		position: absolute;
		display: flex;
		flex-direction: column;
		top:100px;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 100px);
		width: 100%;
		right: 0;
		z-index: 99999;
		display: none;
		background-color: #181818;
	}
	
	.header{
		padding: 0px 50px 0px 10px;
	}
	
	#toggle-menu_icon {
		display: flex;
	}
	
	#toggle-menu:checked + .navbar_list{
		display: flex;
		cursor: pointer;
		
	}

	

	
	.logo_hero_container{
		display: none;
	}

	

	.hero-title{
	justify-content: center;
	gap: 10px;
	}


	.hero-title h1, h2, p{
		text-align: center;
	}

	#btn-ver_mas{
		align-self: center;
		width: 300px;
	}

	.recommendations_card {
		width: 75%;
		height: 100px;
		justify-content: center;
		padding:10 30px ;
	
		
	}

	
	.btn_add{
		width: 100px;
	}

	.recommendations_tittle{
		justify-content: center;
		width: 100%;
	
	}

	.recommendations_card div{
		display: flex;
		justify-content: space-evenly;
		width: 70%;
	}



	
}

@media (max-width:800px){
	

	.recommendations_card{
		width: 100%;
		border-radius: 0px;
		height: 100px;
	}

	
}

@media (max-width:620px){

	#logo{
		height: 80px;
	}
	.hero_container{
		height: 90vh;
		
	}

	.recommendations_container .description{
		display: none;
	}

	
}

@media (max-width:420px){

	h1{
		font-size: 50px;
	}

	h2{
		font-size: 40px;
	}

	p{
		width: 100%;
		text-align: center;
	}

	#btn-ver_mas{
		width: 90%;
	}

	.recommendations_card{
		flex-direction: column;
		flex-wrap: wrap;
		height: 200px;
		gap: 15px;
	}

	.recommendations_card div{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.recommendations img{
		width: 100px;
		border-radius: 50%;
	}

	
}